doc/table-generator.dtd

<!ELEMENT table ((result | union | column)*)>

<!ELEMENT result (column*)>
<!ATTLIST result id CDATA #IMPLIED
                 filename CDATA #REQUIRED>

<!ELEMENT union ((result, column)*)>

<!ELEMENT column (#PCDATA)>
<!ATTLIST column title CDATA #IMPLIED
                 numberOfDigits CDATA #IMPLIED>
